Source: usb-hub-ctrl
Section: embedded
Priority: optional
Maintainer: Marko Hoyer <mhoyer.oss-devel@freenet.de>
Build-Depends: debhelper (>= 10), libusb-dev
Standards-Version: 4.1.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: https://anonscm.debian.org/git/collab-maint/retroradio-ctrl.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/retroradio-ctrl.git

Package: usb-hub-ctrl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libusb-0.1-4
Description: USB port power control tool
 This package contains a tool to power reset a USB port. It is intended to be used to remotely power reset a connected device (e.g. an IOT device).  
