Source: basic-startup-conf
Section: unknown
Priority: optional
Maintainer: Marko Hoyer <mhoyer.oss-devel@freenet.de>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 4.4.0
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/basic-startup-conf
#Vcs-Git: https://salsa.debian.org/debian/basic-startup-conf.git

Package: basic-startup-conf-sd241-buster
Architecture: all
Depends: ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: basic-startup-conf-sd256-bookworm
Architecture: all
Depends: ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
